* { padding: 0; margin: 0; }

html, body { 
    height: 100%;
}

.flex-container {
    display: flex;

    justify-content: center; 
    align-items: center; 
    flex-direction: column;  

    background-color: #f5e8d1;
    height: inherit;
    gap: 5px;

}

.flex-container > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}

header {
    position: absolute;
    text-align: center;
    margin-top: 1em;
    width: 100%;
}

header > h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #254882;
}