RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirection forcée de l'URL avec extension vers l'URL sans extension
RewriteCond %{THE_REQUEST} \.php
RewriteRule ^(.+)\.php$ /$1 [R=301,L]
